<div class="top_nav">
    <nav>
        <ul>
          <li><a href="">Dietular</a></li>
          <li>plan for a better tomorrow</li>
          <li class="split">
            <a routerLink="/calendar-component" routerLinkActive="active" ariaCurrentWhenActive="page">Calendar</a>
          </li>
          <li class="split"><a routerLink="/meal-list-component" routerLinkActive="active" ariaCurrentWhenActive="page">Meals</a></li>
          <li class="split"><a routerLink="/item-list-component" routerLinkActive="active" ariaCurrentWhenActive="page">Items</a>
          </li>
          <li class="split"><a routerLink="/allergen-list-component" routerLinkActive="active" ariaCurrentWhenActive="page">Allergens</a></li>
          
          
          <div class="dropdown">
            <li ><button class="dropbtn">+</button></li>
            <div class="dropdown-content">
              <a routerLink="/add-allergen-component" routerLinkActive="active" ariaCurrentWhenActive="page">New allergen</a>
              <a routerLink="/add-item-component" routerLinkActive="active" ariaCurrentWhenActive="page">New item</a>
              <a routerLink="/add-meal-component" routerLinkActive="active" ariaCurrentWhenActive="page">New meal</a>
            </div>
          </div>
        </ul>
    </nav>
  </div>
