<div class="main-container">
    <h1>Meal list</h1>

      <ul>
        <div class="list-container">
          @for (meal of meals; track $index) {
            <li class="list-item-container">
              <p class="name">{{meal.name}}</p>
              <p class="description">{{meal.description}}</p>
              <button class="btn-view" (click)="showDetails(meal.id)">View</button>
              @if(checker === meal.id) { 
                <app-meal-details [index]="$index"/>
              }
              <button class="btn-view" (click)="update(meal.id)"> Edit </button>
              @if(updateChecker === meal.id) {
                <app-edit-meal [index]="$index"></app-edit-meal>
              }

              <button class="btn-view2" (click)="showConfirmation(meal.id)"> Delete </button>
           
              @if(checkerfordelete === meal.id) 
              {
                <div class="form-container">
                  <div class="form-thing">
                    <h3>Are you sure you want to delete {{meal.name}}?</h3>
                  </div>
                  <div class="form-buttons">
                    <button class="btn-view2" (click)="deleteThing(meal.id)">Yes</button>
                    <button class="btn-view" (click)="undo()">No</button>
                  </div>
                </div>
              }
            </li>
          }
        </div>
      </ul>
  </div>
