 .form-container {
    color: #4B3629;
    background-color: #cdd9c7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

 .form-thing {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    padding: 10px;
}

input {
    border-radius: 4px;
}


.form-buttons {
    display: flex; 
    align-items: center;
    padding: 10px;
}

.label {
    padding: 5px;
    color:#4B3629;
    font-weight: bold !important;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center; 
}


 .btn-view {
    background-color: #ECE8E4;
    color:#4B3629;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    border-color: #9C8F87;
    margin-right:10px;
}

 .btn-view:disabled {
    cursor: not-allowed;
}

 .btn-view2 {
    background-color: #B15D63;
    color: black;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    border-color: #4b3629;
    margin-right: 10px;
}