<div class="main-container">
<button class="btn-view" (click)="getFilterChoice()">Filter</button>

<button class="btn-view" (click)="getSortChoice()">Sort</button>
  <h1>Item list</h1>

    <ul>
      <div class="list-container">
        @for (item of filteredItems; track $index) {
          <li class="list-item-container">
            <p class="name">{{item.name}}</p>
            <p class="description">{{item.description}}</p>
            <button class="btn-view" (click)="showDetails(item.id, filteredItems)"> View </button>
            @if(checker === item.id) { 
              <app-item-details [id]="$index" [filtereditems]="filteredItems" />
            }
            <button class="btn-view" (click)="update(item.id, $index)"> Edit </button>
              @if(updateChecker === item.id) {
                <app-edit-item [id]="item.id"></app-edit-item>
              }
            <button class="btn-view2" (click)="showConfirmation(item.id)"> Delete </button>
            
            @if(checkerfordelete === item.id) 
            {
              <div class="form-container">
                <div class="form-thing">
                  <h3>Are you sure you want to delete {{item.name}}?</h3>
                </div>
                <div class="form-buttons">
                  <button class="btn-view2" (click)="deleteThing(item.id, $index)">Yes</button>
                  <button class="btn-view" (click)="undo()">No</button>
                </div>
              </div>
            }

            @if(checkerForFilter === true)
            {
              <div class="filter-menu">
                <h3>Select allergens not to have</h3><br>
                <ul>
                  @for(allergen of allergens; track $index) {
                <li class="next">
                <p>{{allergen.name}}</p>
                <input type="checkbox" (click)="includeAllergen(allergen)">
                </li>
              }
                </ul>
                <button class="btn-view" (click)="filter()">Confirm</button>
                <button class="btn-view2" (click)="turnOffFilterChoice()">Undo</button>
              </div>
            }
            @if(checkerForSort === true)
            {
             <div class = "filter-menu">
              <h3>Sort menu:</h3>
              <button class="btn-view" (click)="sortAlphAsc()">Sort alphabetically A-Z</button>
              <button class="btn-view" (click)="sortAlphDesc()">Sort alphabetically Z-A</button>
              <button class="btn-view" (click)="sortProtein()">Sort by most protein</button>
              <button class="btn-view" (click)="sortCalories()">Sort by least calories</button>
              <button class="btn-view" (click)="sortFat()">Sort by least fat %</button>
              <button class="btn-view2" (click)="turnOffSortChoice()">Undo</button>
             </div> 
            }
           
          </li>
        }
      </div>
    </ul>
</div>
