@if(index !== undefined) {
    <p class="weight">Weight: {{ items[index].weight}}</p>
    <p class="calories">Calories: {{ items[index].calories }}</p>
    <p class="carbohydrates">Carbohydrates: {{items[index].carbohydrates}}</p>
    <p class="proteins">Proteins: {{items[index].proteins}}</p>
    <p class="fats">Fats: {{items[index].fats}}</p>
    <p class="allergens">Allergens:
        <ol>

       
        @for(allergen of items[index].allergen_details; track $index) {
           <li>{{allergen.name}}</li> 
        }
    </ol>
}