

@if(id != undefined)
{ 
    
    <p class="weight">Weight: {{ filtereditems[id].weight}}</p>
    <p class="calories">Calories: {{ filtereditems[id].calories }}</p>
    <p class="carbohydrates">Carbohydrates: {{filtereditems[id].carbohydrates}}</p>
    <p class="proteins">Proteins: {{filtereditems[id].proteins}}</p>
    <p class="fats">Fats: {{filtereditems[id].fats}}</p>
    <p class="allergens">Allergens:
        <ol>

       
        @for(allergen of filtereditems[id].allergen_details; track $index) {
           <li>{{allergen.name}}</li> 
        }
    </ol>
}